.main{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: darksalmon;
    height: 97vh;
    width: 98vw;
}
.app-wrapper{
    font-size: 50px;
    color: yellow;
    margin-top: 200px;
    height: 75px;
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 3px solid yellow;
}
.buttons {
    display: flex;
    justify-content: center;
}
.wrap{

}
.btn{
    width: 100px;
    height: 30px;
    background-color: darksalmon;
    border: 1px solid yellow;
    color: yellow;
    font-size: 20px;
}